<sly-card title="Connect to Detection Model"
          :disabled="{disabled: data.current_step < data.steps.connect_to_det_model, message: 'complete previous step to unlock'}">
    <div style="display: flex; flex-direction: column; overflow: hidden">
        <div>
            <div v-if="!data.det_model_connected" style="margin-bottom: 15px">
                {{{ connect_det_model_notification_box.to_html() }}}
            </div>
            <div v-else>
                <sly-field title="Detection Model Connected"
                           description="below are the parameters of the model"
                           style="padding-top: 4px; padding-bottom: 6px">

                    <sly-icon slot="icon" :options="{ color: '#13ce66', bgColor: '#e1f7eb', rounded: false }">
                        <i class="zmdi zmdi-circle"></i>
                    </sly-icon>
                </sly-field>
            </div>

            <div>
                <sly-select-app-session
                        style="height: 100%"
                        :group-id="data.team_id"
                        :app-session-id.sync="state.det_model_id"
                        :options="data.det_model_options"
                        :disabled="data.current_step > data.steps.connect_to_det_model">
                </sly-select-app-session>
            </div>

            <div v-if="data.det_model_info && data.det_model_connected" style="margin: 22px 5px">
                <h3>Model Stats:</h3>
                <div>
                    <div v-for="v, k in data.det_model_info" class="mb10" style="word-break: break-all;">
                        <div style="margin-bottom: 4px">
                            <b>{{ k }}</b>: <span>{{ v }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 15px;">
            <div v-if="data.current_step <= data.steps.connect_to_det_model">{{{ connect_det_model_button.to_html() }}}</div>
            <div v-else style="bottom: 0">{{{ reselect_det_model_button.to_html() }}}</div>

            <div v-if="data.current_step > data.steps.connect_to_det_model" style="margin-top: 17px">
                {{{ det_model_selected_done_label.to_html() }}}
            </div>
        </div>
    </div>
</sly-card>