<sly-card title="Detection Model Classes"
          subtitle="Choose classes that should be kept after prediction, other classes will be ignored"
          :options="{collapsable: true}"
          :collapsed.sync="state.collapsed_steps.det_classes"
          :disabled="{disabled: data.current_step < data.steps.det_classes, message: 'complete previous steps to unlock'}">

    <div class="fflex mt5 mb5">
        
        <div>{{{ select_all_det_classes_button.to_html() }}}</div>
        <div class="ml10">{{{ deselect_all_det_classes_button.to_html() }}}</div>
        
    </div>
    <table>
        <tbody>
        <tr v-for="(objClass, index) in data.classes_table">
            <td>
                <el-checkbox 
                    :disabled="data.current_step > data.steps.det_classes"
                    @change="post('/selected_det_classes_changed/');"
                    v-model="state.selected_classes[index]"></el-checkbox>
            </td>
            <td><i class="zmdi zmdi-circle ml5 mr5" :style="{color: objClass.color}"></i>
            </td>
            <td>{{objClass.name}}</td>
            <td class="ml5" style="color: #777777">{{objClass.shape}}</td>
        </tr>
        </tbody>
    </table>

    <div style="margin-top: 15px;">
        <div v-if="data.current_step <= data.steps.det_classes">{{{ select_det_classes_button.to_html() }}}</div>
        <div v-else style="bottom: 0">{{{ reselect_det_classes_button.to_html() }}}</div>

        <div v-if="data.current_step > data.steps.det_classes" style="margin-top: 17px">
            {{{ det_classes_done_label.to_html() }}}
        </div>
    </div>

</sly-card>