<div class="field-with-checkbox-container">

    <el-checkbox v-model="state.addSuffix"
                 style="margin: 0 10px 0 0"
                 :disabled="data.current_step > data.steps.cls_settings"></el-checkbox>

    <sly-field title="Add class/tag name suffix"
            style="margin: 10px 0"
               description="Add suffix to model class/tag name if it has conflicts with existing one">
    </sly-field>

</div>

<el-collapse-transition>
    <div v-show="state.addSuffix" style="display: inline-block">

        <el-input style="width: 140px" placeholder="_nn"
                  :disabled="data.current_step > data.steps.cls_settings"
                  v-model="state.suffixValue"></el-input>
    </div>
</el-collapse-transition>